#banner{
    background-color: black;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 2em black;
    position: fixed;
    bottom:20px;
    border-radius: 50%;
}
.transition:hover{
    transition: all;
    transition-delay: 100ms;
    transition-duration: 500ms;
    transform: scale(1.2,1.2);
    filter: blur(1px);
        
}